.additional-good {
  position: relative;
  height: 30px;
}

.additional-good__label {
  flex-grow: 1;
  margin-left: 46px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: 1px solid @bar-border-color;
    box-sizing: border-box;
  }

  &:hover::before {
    border-color: @bar-border-color-hover;
  }

  &:active {
    border-color: @bar-border-color;
    opacity: 0.3;
  }
}

.additional-good__checkbox {
  position: absolute;
  opacity: 0;

  &:focus + .additional-good__label::before {
    border-color: @bar-border-color-hover;
  }

  &:checked + .additional-good__label::before {
    background-image: url("../img/checked.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: @tablet-size) {
  .additional-good {
    min-width: 221px;
    margin-bottom: 20px;
    margin-top: 12px;
    height: 40px;
  }

  .additional-good__label {
    margin-left: 59px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: @desktop-size) {
  .additional-good {
    width: 221px;

    &:not(:first-child) {
      margin-left: 104px;
    }
  }
}
