.additional-order-button {
  margin-top: 15px;
  margin-bottom: 17px;
}

@media (min-width: @tablet-size) {
  .additional-order-button {
    height: 38px;
    margin-top: 22px;
  }
}

@media (min-width: @desktop-size) {
  .additional-order-button {
    width: 335px;
    margin: 0;
  }
}
