.cat {
  overflow: hidden;
  width: 308px;
  z-index: 1;

  &__after {
    position: absolute;
    top: 0;
  }

  &__before {
    z-index: 2;
  }
}

@media (min-width: @tablet-size) {
  .cat {
    width: 690px;
    position: absolute;
    top: -161px;

    &__before {
      left: 50px;
    }

    &__after {
      right: 28px;
    }
  }
}
