.additional-goods {
  padding-bottom: 35px;
}

.additional-goods__title {
  width: fit-content;
  .set-font(24px, 24px);
  font-weight: normal;
  margin-top: 28px;
  margin-bottom: 35px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: calc(100% + 22px);
    width: 100vw;
    height: 3px;
    background-color: @choose-program-color;
    display: block;
  }
}

.additional-goods__list {
  padding: 0;
  list-style-type: none;
}

.additional-goods__item {
  padding-top: 13px;
  border-top: 1px solid @footer-block-border-color;

  &:last-child {
    border-bottom: 1px solid @footer-block-border-color;
  }
}

.additional-goods__type {
  .set-font(16px, 16px);
  text-transform: uppercase;
  color: @food-type-color;
}

@media (min-width: 768px) {
  .additional-goods__title {
    .set-font(36px, 36px);
    margin-top: 68px;
    margin-bottom: 80px;
    padding-left: 37px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 3px;
      background-color: @choose-program-color;
      right: calc(100% + 3px);
      top: 20px;
      margin-bottom: -2px;
      width: 100vh;
    }

    &::after {
      top: 20px;
    }
  }

  .additional-goods {
    display: flex;
    flex-direction: column;
    padding-bottom: 76px;
  }

  .additional-goods__list {
    margin-bottom: 69px;
  }

  .additional-goods__item {
    border: 1px solid @bar-border-color;
    padding: 26px 37px 28px 38px;
  }

  .additional-goods__item-block {
    display: flex;
  }

  .additional-goods__type {
    .set-font(20px, 20px);
    margin: 0;
    flex-grow: 2;
  }
}

@media (min-width: 1440px) {
  .additional-goods__list {
    flex-grow: 1;
    margin: 0;
  }

  .additional-goods__title {
    padding-left: 0;

    &::before {
      right: calc(100% + 40px);
    }
  }

  .additional-goods__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-height: 72px;
    border-left: none;
    border-right: none;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .additional-goods__item-block {
    width: 100%;
    justify-content: space-between;
  }

  .additional-goods__type {
    flex-grow: 0;
    min-width: 161px;
  }
}
