.aims {
    display: flex;
    justify-content: space-between;
}

.aim {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 124px;
    &::before {
        content: "";
        display: block;
        width: 124px;
        height: 56px;
        background-image: url("../img/border.png");
        position: absolute;
        left: 0;
    }
}

.aim__value {
    .set-font(24px, 24px);
    text-align: center;
    margin: 15px auto 0;
    width: 77px;
}

.aim__info {
    .set-font(12px, 12px, Arial);
    width: 77px;
    text-align: center;
    position: relative;
    top: 8px;
}
