.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: @black-color;
  text-transform: uppercase;
  padding: 23px 0 25px;
  .set-font(16px, 20px);
}

.bar-properties() {
  border: 1px solid @bar-border-color;
  box-sizing: border-box;
  border-radius: 6px;
}

.bar-block {
  width: 84px;
  height: 14px;
  appearance: none;
  padding: 4px 6px;
  background-color: @white-color;
  .bar-properties();
  margin: 0 12px;
  position: relative;

  &::-webkit-slider-thumb {
    appearance: none;
  }
}

@media (min-width: @tablet-size) {
  .bar-block {
    display: block;
    width: 428px;
    height: 6px;
    background-color: @bar-background-tablet;
    padding: 0;
    outline: none;

    &::-webkit-slider-thumb {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      box-sizing: border-box;
      background-image: url("../img/slider-control.png");
      background-position: center;
      border: 1px solid @bar-border-color;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    }

    &::-webkit-slider-thumb:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &::-webkit-slider-thumb:active {
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
      border-color: @choose-program-color;
    }
  }

  .bar {
    background-color: @example-background-color;
    .set-font(20px, 30px);
    padding-bottom: 67px;
  }
}

@media (min-width: @desktop-size) {
  .bar {
    background-color: unset;
    position: absolute;
    right: 175px;
    bottom: 0;
    .set-font(20px, 30px);
  }
}
