.cats {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .cats {
    margin-top: 59px;
  }
}

@media (min-width: 1440px) {
  .cats {
    grid-column-start: 2;
    grid-column-end: 3;
    position: absolute;
    bottom: 165px;
    left: 600px;
  }
}
