.cats {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .cats {
    margin-top: 59px;
  }
}

@media (min-width: 1440px) {
  .cats {
    position: absolute;
    bottom: 165px;
    right: 70px;
  }
}
