.contacts {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 28px 0 22px;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: space-between;

  &__brown {
    background-color: @facility-background;
    grid-column-start: 1;
    grid-column-end: -1;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contacts__title {
  width: 140px;
  .set-font(16px, 18px);
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  color: @show-more-title-color;
}

.contacts__address {
  .set-font(14px, 20px, Arial);
  margin: 0;
  width: 140px;
}

.contacts__city {
  margin: 0;
}

.contacts__block {
  width: 140px;
}

@media (min-width: 768px) {
  .contacts {
    padding: 66px 41px 51px;
  }

  .contacts__block {
    text-align: end;
  }

  .contacts__title {
    .set-font(20px, 21px);
  }

  .contacts__city {
    margin-top: 10px;
  }
}

@media (min-width: 1440px) {
  .contacts {
    width: 570px;
    box-sizing: border-box;
    position: absolute;
    background-color: @white-color;
    top: 95px;
    grid-column-start: 2;
    grid-column-end: 3;
    z-index: 1;
  }

  .contacts__address {
    .set-font(16px, 20px, Arial);
    width: 155px;
  }

  .contacts__city {
    .set-font(16px, 20px, Arial);
  }

  .contacts__block {
    width: 155px;
    text-align: left;
  }

  .contacts__title {
    width: 163px;
  }
}
