.contacts {
    display: flex;
    padding: 28px 19px 22px;
    justify-content: space-between;
}

.contacts__title {
    .set-font(16px, 18px);
    width: 140px;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
}

.contacts__address {
    .set-font(14px, 20px, Arial);
    margin: 0;
    width: 140px;
}

.contacts__brown {
    background-color: @facility-background;
}