.example {
    background-color: @example-background-color;
    padding-right: 21px;
    padding-left: 20px;
}

.example__title {
    .set-font(36px, 40px);
    margin: 27px 0 33px;
}

.example__info {
    .set-font(14px, 18px, Arial);
    color: @concept-color;
}

.example-expenses {
    text-align: center;
    .set-font(14px, 20px);
    text-transform: uppercase;
}