.food {
  width: 100%;
}

.food__title {
  .set-font-equal(36px);
  font-weight: normal;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
  padding-left: 20px;
}

.food__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.food__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 19px;
  border-top: 1px solid @footer-block-border-color;
}

.food__info {
  display: flex;
  align-items: center;
}

.food__image {
  position: absolute;
  top: 0;
}

.food__info__plus {
  flex-direction: column;

  &::before {
    width: 30px;
    height: 30px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
  }
}

.food__description {
  flex-grow: 2;
  padding-left: 140px;
}

.food__type {
  .set-font(16px, 20px);
  text-transform: uppercase;
  width: 76px;
  color: @food-type-color;
  margin: 0;
  margin-bottom: 18px;
}

.food-detail {
  display: flex;
  justify-content: space-between;
  .set-font(12px, 16px, Arial);
}

.food__order-button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  .set-font-equal(16px);
  outline: none;
  border: none;
  color: @white-color;
  background-color: @choose-program-color;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 6px 0;

  &:focus {
    border: 1px solid @black-color;
  }
}

@media (min-width: @tablet-size) {
  .food {
    width: 708px;
  }

  .food__title {
    .set-font-equal(60px);
    padding-bottom: 26px;
    padding-left: 30px;
    padding-top: 64px;
  }

  .food__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .food__item {
    border: none;
    padding: 0 36px;
    background-color: @facility-background;
    min-width: 324px;
    box-sizing: border-box;
    margin-top: 139px;
    padding-bottom: 40px;
  }

  .food__info {
    flex-direction: column;
    position: relative;
    padding-top: 158px;
  }

  .food__info__plus::before {
    width: 60px;
    height: 60px;
    top: 52px;
    background-size: 60px 60px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-size: 60px 60px;
    }
  }

  .food__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .food__image {
    width: 100%;
    display: flex;
    justify-content: center;
    top: unset;
    bottom: 305px;
    left: 0;
  }

  .food__type {
    width: 155px;
    .set-font(20px, 24px);
    text-align: center;
  }

  .food-detail {
    .set-font-equal(16px, Arial);
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid @bar-border-color;
  }

  .food__order-button {
    margin: 0;
    margin-top: 33px;
  }
}

@media (min-width: @desktop-size) {
  .food {
    width: 1220px;
  }

  .food__title {
    padding-left: 0;
    padding-top: 74px;
    padding-bottom: 27px;
  }

  .food__list {
    margin-left: -80px;
    justify-content: normal;
    padding: 0;
  }

  .food__item {
    min-width: 245px;
    max-width: 245px;
    margin-left: 80px;
  }

  .food__order-button {
    margin: 0;
    width: 100%;
    margin-top: 33px;
  }
}
