.visually-hidden {
  display: none;
}

.main-page {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.page-element {
  grid-column-start: 2;
  grid-column-end: 3;
  box-sizing: border-box;
  overflow-x: hidden;
}
