.main-content {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

.main-content__element {
  min-width: 250px;
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 3;
}

@media (min-width: @tablet-size) {
  .main-content {
    grid-template-columns: 30px 1fr 30px;
  }
}

@media (min-width: @desktop-size) {
  .main-content {
    grid-template-columns: 110px 1fr 110px;
  }
}
