.main-content {
  flex-direction: column;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

.main-content__element {
  min-width: 250px;
  box-sizing: border-box;
}

@media (min-width: 1440px) {

  .main-content__element {
    padding: 0 110px;
  }
}
