.networks-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 20px 63px 21px;
  width: 100%;
}

.networks__item {
  display: block;
}

.networks__item__vk {
  width: 23px;
  height: 16px;
  background-image: url("../img/icon-vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  &:hover {
    background-image: url("../img/icon_vkontakte-hover.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.networks__item__insta {
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  &:hover {
    background-image: url("../img/icon_instagram-hover.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.networks__item__facebook {
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  &:hover {
    background-image: url("../img/icon_facebook-hover.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-size) {
  .networks-list {
    padding: 0;
    justify-content: center;
  }

  .networks__item__vk {
    width: 30px;
    height: 22px;
    margin-right: 27px;
  }

  .networks__item__insta {
    width: 23px;
    height: 23px;
    margin-right: 21px;
  }

  .networks__item__facebook {
    width: 28px;
    height: 33px;
  }
}
