.nutrition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .nutrition {
    align-items: flex-start;
    margin-left: 117px;
    position: relative;
  }
}

@media (min-width: 1440px) {
  .nutrition {
    margin-left: 0;
  }
}
