.nutrition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .nutrition {
    align-items: flex-start;
    margin-left: 117px;
  }
}

@media (min-width: 1440px) {
  .nutrition {
    grid-column-start: 1;
    grid-column-end: -1;
    padding-left: 190px;
    margin-left: 0;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50%;
      height: 696px;
      background-image: url("../img/index-background-desktop.jpg");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-color: @cat-background-color;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}
