.nutrition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .nutrition {
    align-items: flex-start;
    margin-left: 117px;
    position: relative;
  }
}

@media (min-width: 1440px) {
  .nutrition {
    grid-column-start: 1;
    grid-column-end: -1;
    margin-left: 0;
    padding-left: 190px;
    background-image: url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 100% -107px;
    background-size: 50%;
  }
}
