.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid @footer-block-border-color;
}

@media (min-width: @tablet-size) {
  .page-header {
    width: 708px;
    border: none;
    margin-top: 24px;
  }
}

@media (min-width: @desktop-size) {
  .page-header {
    width: 1220px;
    padding-top: 54px;
    margin-top: 0;
  }
}
