.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 66px;
  border-bottom: 1px solid @footer-block-border-color;
}

@media (min-width: 768px) {
  .page-header {
    border: none;
    margin-top: 24px;
  }
}

@media (min-width: 1440px) {
  .page-header {
    padding: 0 110px;
  }
}
