.program {
  width: 280px;
  height: 40px;
  background-color: @choose-program-color;
  margin: 0 auto;
  &:hover {
    background-color: @choose-program-color-hover;
  }
}

.program__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: @white-color;
  .set-font(14px, 18px);
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-size) {
  .program {
    display: flex;
    align-items: center;
    width: 244px;
    height: 54px;
    margin: 0;
    position: absolute;
    top: 339px;
  }

  .program__link {
    box-sizing: border-box;
    .set-font-equal(20px);
  }
}

@media (min-width: @desktop-size) {
  .program {
    top: 455px;
  }
}
