.program-form {
    padding-left: 20px;
}

.program-form__section {
    border: none;
    padding: 0;
    padding-bottom: 26px;
    padding-top: 20px;
    margin: 0;

    &:not(:last-of-type) {
        border-bottom: 1px solid @footer-block-border-color;
    }
}

.program-form__block {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    justify-content: space-between;
}

.program-form__title {
    .set-font(36px, 36px);
    margin-top: 27px;
    margin-bottom: 37px;
    position: relative;
    font-weight: normal;
}

.program-form__subtitle {
    .set-font(14px, 18px);
    font-weight: normal;
    text-transform: uppercase;
    width: 226px;
    margin-bottom: 39px;
    text-transform: uppercase;
}

.program-form__label {
    .set-font(16px, 18px);
    text-transform: uppercase;
    margin-right: 14px;
}

.program-form__input {
    height: 46px;
    box-sizing: border-box;
    .set-font(16px, 18px);
    padding-left: 15px;
    text-transform: uppercase;
    flex-grow: 1;
}

.program-form__aim {
    flex-grow: 1;
}

.program-form__submit {
    width: 100%;
    height: 40px;
    .set-font(16px, 16px);
    color: @white-color;
    background-color: @choose-program-color;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-bottom: 21px;
    padding: 6px 0;
}

.program-form__required_info {
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
}
