.program-form {
    padding-left: 20px;

    &__section {
        border: none;
        padding: 0;
        padding-bottom: 26px;
        padding-top: 20px;
        margin: 0;
    }

    &__section:not(:last-of-type) {
        border-bottom: 1px solid @footer-block-border-color;
    }

    &__block {
        display: flex;
        align-items: center;
        margin-bottom: 13px;
        justify-content: space-between;
    }

    &__title {
        .set-font(36px, 36px);
        margin-top: 27px;
        margin-bottom: 37px;
        position: relative;
        font-weight: normal;
    }

    &__subtitle {
        .set-font(14px, 18px);
        font-weight: normal;
        text-transform: uppercase;
        width: 226px;
        margin-bottom: 39px;
        text-transform: uppercase;
    }

    &__label {
        .set-font(16px, 18px);
        text-transform: uppercase;
        margin-right: 14px;
    }

    &__input {
        height: 46px;
        box-sizing: border-box;
        .set-font(16px, 18px);
        padding-left: 15px;
        text-transform: uppercase;
        flex-grow: 1;
    }

    &__aim {
        flex-grow: 1;
    }

    &__submit {
        width: 100%;
        height: 40px;
        .set-font(16px, 16px);
        color: @white-color;
        background-color: @choose-program-color;
        text-transform: uppercase;
        box-sizing: border-box;
        margin-bottom: 21px;
        padding: 6px 0;
    }

    &__required_info {
        text-align: center;
        margin: 0;
        margin-bottom: 32px;
    }
}

.form-section {

    &__subtitle {
        position: relative;
        .set-font(24px, 26px);
        font-weight: normal;
        margin: 27px 0 32px;
    }

    &__subtitle:first-of-type {
        margin-top: 6px;
    }
    
    &__subtitle::after {
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        background-color: @choose-program-color;
        right: 0px;
        top: 12px;
        margin-bottom: -2px;
    }

    &__comment-text {
        .set-font(16px, 18px);
        text-transform: uppercase;
    }
}

.master-title::after {
    width: 99px;
}

.comment-title::after {
    width: 158px;
}

.additional-title::after {
    width: 136px;
}