@example-background-color: #EAEAEA;
@black-color: #000;
@show-more-title-color: #111;
@white-color: #FFF;
@choose-program-color: #68B738;
@facility-background: #F2F2F2;
@concept-color: #444;
@food-type-color: #222;
@bar-border-color: #CDCDCD;
@footer-block-border-color: #D9D9D9;

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"),
    url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OswaldExtraLight";
  src: url("../fonts/Oswald-ExtraLight.woff2") format("woff2"),
    url("../fonts/Oswald-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OswaldLight';
  src: url("../fonts/Oswald-Light.woff2") format("woff2"),
    url("../fonts/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OswaldSemiBold';
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"),
    url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OswaldMedium';
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"),
    url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OswaldBold';
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"),
    url("../fonts/Oswald-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.set-font(@size, @height, @family: Oswald) {
  font-family: @family, "Arial", sans-serif;
  font-size: @size;
  line-height: @height;
}

@import "general.less";
@import "page-header.less";
@import "burger-menu.less";
@import "main-page-content.less";
@import "nutrition.less";
@import "facilities.less";
@import "concepts.less";
@import "example.less";
@import "aims.less";
@import "bar.less";
@import "contacts.less";
@import "footer.less";
@import "food.less";
@import "additional-goods.less";
@import "properties.less";
@import "show-more.less";
@import "gift.less";
@import "program-form.less";
@import "form-section.less";
@import "networks-list.less";
