@example-background-color: #EAEAEA;
@input-border-color: #E7E7E7;
@black-color: #000;
@show-more-title-color: #111;
@white-color: #FFF;
@choose-program-color: #68B738;
@choose-program-color-hover: #5EAA2F;
@cat-background-color: #64A83B;
@facility-background: #F2F2F2;
@facility-background-hover: #EBEBEB;
@concept-color: #444;
@error-color: #FF8282;
@food-type-color: #222;
@bar-border-color: #CDCDCD;
@bar-border-color-hover: #BABABA;
@footer-block-border-color: #D9D9D9;
@block-border-color: #E6E6E6;
@bar-background-tablet: #DCDCDC;

@tablet-size: 768px;
@desktop-size: 1440px;

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"),
    url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.set-font(@size, @height, @family: Oswald) {
  font-family: @family, "Arial", sans-serif;
  font-size: @size;
  line-height: @height;
}

.set-font-equal(@size, @family: Oswald) {
  font-family: @family, "Arial", sans-serif;
  font-size: @size;
  line-height: @size;
}

@import "general.less";
@import "blocks/container.less";
@import "blocks/header-logo.less";
@import "blocks/page-header.less";
@import "blocks/current-page.less";
@import "blocks/menu.less";
@import "blocks/title.less";
@import "blocks/burger-menu.less";
@import "blocks/main-content.less";
@import "blocks/content-header.less";
@import "blocks/content-header-image-block.less";
@import "blocks/nutrition.less";
@import "blocks/program.less";
@import "blocks/cat-image-block.less";
@import "blocks/cat-image.less";
@import "blocks/facilities.less";
@import "blocks/facility.less";
@import "blocks/concepts.less";
@import "blocks/example.less";
@import "blocks/aims.less";
@import "blocks/aims-block.less";
@import "blocks/aim.less";
@import "blocks/cats.less";
@import "blocks/cat.less";
@import "blocks/selected.less";
@import "blocks/bar.less";
@import "blocks/contacts.less";
@import "blocks/footer-links.less";
@import "blocks/links.less";
@import "blocks/logo.less";
@import "blocks/networks.less";
@import "blocks/htmlacademy.less";
@import "blocks/food.less";
@import "blocks/additional-order-button.less";
@import "blocks/additional-goods.less";
@import "blocks/additional-good.less";
@import "blocks/additional-goods-block.less";
@import "blocks/properties.less";
@import "blocks/show-more.less";
@import "blocks/gift.less";
@import "blocks/contact-data.less";
@import "blocks/invite.less";
@import "blocks/adaptive-block.less";
@import "blocks/program-form.less";
@import "blocks/radio-button-block.less";
@import "blocks/aim-option.less";
@import "blocks/form-section.less";
@import "blocks/networks-list.less";
