.title {
  flex-grow: 2;
}

.title-images {
  display: flex;
}

.title__logo {
  display: block;
}

.title__text {
  margin: 6px auto 0;
}

@media (min-width: 768px) {
  .title__text {
    display: none;
  }

  .title__logo {
    height: 54px;
  }

  .title {
    display: block;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
