.title {
  flex-grow: 2;
}

.title-images {
  display: flex;
}

.title__logo {
  display: block;
  height: 38px;
}

.title__text {
  height: 18px;
  margin: auto auto;
}

@media (min-width: @tablet-size) {
  .title__text {
    display: none;
  }

  .title__logo {
    height: 54px;
  }

  .title {
    display: block;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
